html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #577534; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/*header style*/
.header-panel {
  background-color: #577534; }

.header-text {
  color: white; }

.header-image {
  height: 5vh;
  width: 5vh; }

/*main view style*/
.content-wrapper {
  margin: 10px; }

.main-panel {
  background-color: white;
  min-height: 90vh;
  flex-grow: 1; }

.show-panel {
  background-color: white;
  padding: 5px; }

app {
  position: relative;
  display: flex;
  flex-direction: column; }

/*login form style*/
.login-form {
  width: 600px; }

/*modal window style*/
.modal-window {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #577534;
  padding: 10px;
  max-height: 90vh;
  overflow: visible; }

.modal-window-show-panel {
  max-height: 80vh;
  overflow-y: auto; }

.modal-backdrop {
  background: rgba(138, 163, 83, 0.7); }

.modal-header {
  color: white; }
  .modal-header button {
    color: white; }

/*sidebar style*/
.sidebar {
  background-color: #577534; }

/*form style*/
.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }

.custom-switch .custom-control-label::after {
  background-color: #b2c9a7; }

/*.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(87, 117, 52, 0.5);
}*/
/*custom input checked background*/
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #577534;
  background-color: #577534; }

/*custom input shadow focus*/
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #b2c9a7; }

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #b2c9a7;
  border-color: #b2c9a7; }

/*.custom-control-input[disabled] ~ .custom-control-label {
    color: #747d6c;
}

.custom-control-input[disabled] ~ .custom-control-label::before {
    background-color: #e9efea;
}*/
/*button style*/
.btn-success {
  background-image: linear-gradient(#688744, #577534 70%);
  border-color: black;
  border-width: 1px 2px 2px 1px; }

.btn-success:hover {
  background-image: linear-gradient(#589754, #678544 70%); }

.btn-outline-success:hover {
  background-image: linear-gradient(#589754, #678544 70%); }

.btn-danger {
  background-image: linear-gradient(tomato, red 70%);
  border-color: black;
  border-width: 1px 2px 2px 1px; }

.btn-danger:hover {
  background-image: linear-gradient(#FF8367, #FF2020 70%); }

/*table style*/
.selected-table-row {
  background-color: #c4db9e !important; }
  .selected-table-row tr {
    background-color: #c4db9e !important; }
  .selected-table-row td {
    background-color: #c4db9e !important; }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e6f5ce; }

/*validation style*/
.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050; }

.invalid {
  outline: 1px solid red; }

.validation-message {
  color: red; }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem; }
