@if (LoadingCondition || (ContentDefined && Content == LoadingStub))
{
    <div class="spinner-border spinner-border-sm text-success"></div>
}
else
{
    @(Content ?? "")
}

@code
{
    [Parameter]
    public string LoadingStub { get; set; } = "Loading...";

    [Parameter]
    public bool ContentDefined { get; set; } = true;

    [Parameter]
    public bool LoadingCondition { get; set; } = false;

    [Parameter]
    public string Content {get; set;}
}