@inherits LayoutComponentBase

<div class="main">
    <AuthorizeView>
        <Authorized>
            <CascadingValue Value="@context.User.Identity.Name" Name="UserName">
                @Body
            </CascadingValue>
        </Authorized>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
    </AuthorizeView>
</div>
