@using AnyTest.Model.ApiModels

<div>
    <NavLink class="btn btn-link tree-root text-left" href="@($"{UrlRoot}/{Tree.Url}")" Match="NavLinkMatch.Prefix">
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-caret-down"></i>
        @Tree.Name
    </NavLink>

    @if (Tree.Children != null && Tree.Children.Count() > 0)
    {
        <div class="tree-subtree">
            <ul style="list-style:none" class="mb-3 pl-3">
                @foreach(var child in Tree.Children)
                {
                    <li><TestsTree Tree="child" UrlRoot="@UrlRoot"/></li>
                }
            </ul>
        </div>
    }
</div>

@code
{
    [Parameter]
    public TestsTreeModel Tree { get; set; }

    [Parameter]
    public string UrlRoot { get; set; }
}