<AuthorizeView>
    <Authorized>
        Hello in AnyTest, @context.User.Identity.Name!
    </Authorized>
    <NotAuthorized>
        <a href="Login">@Localizer[nameof(Resources.LoginAction)]</a>
    </NotAuthorized>
</AuthorizeView>