
@import "partials/_colors.scss";
@import "partials/_togglableSidebarPanel.scss";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: $base-back-color;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*header style*/
.header-panel {
    background-color: $base-back-color;
}

.header-text {
    color: $header-text-color;
}

.header-image {
    height: 5vh;
    width: 5vh;
}

/*main view style*/

.content-wrapper {
    margin: 10px;
}

.main-panel {
    background-color: $neutral-background-color;
    min-height: 90vh;
    flex-grow:1;
}

.show-panel {
    background-color: $neutral-background-color;
    padding: 5px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*login form style*/
.login-form {
    width: 600px;
}

/*modal window style*/
.modal-window {
    border-style: solid;
    border-width: 1px;
    border-color: $neutral-background-color;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: $base-back-color;
    padding: 10px;
    max-height: 90vh;
    overflow: visible;
}

.modal-window-show-panel {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-backdrop {
    background: $backdrop-background-color;
}

.modal-header {
    color:$modal-window-text-color;
    button {
        color: $modal-window-text-color;
    }
}

/*sidebar style*/
.sidebar {
    background-color: $base-back-color!important;
}

.sidebar-content {
    background-color:$neutral-background-color!important;
}

/*form style*/
.form-control:focus {
    border-color: $form-focus-border-color;
    box-shadow: 0 0 0 0.2rem $form-focus-color;
}

.custom-switch .custom-control-label::after {
    background-color: #b2c9a7;
}

/*.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(87, 117, 52, 0.5);
}*/

/*custom input checked background*/
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $base-back-color;
    background-color: $base-back-color;
}

/*custom input shadow focus*/
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem $form-focus-color;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $form-focus-shadow;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: $form-focus-shadow;
    border-color: $form-focus-shadow;
}

/*.custom-control-input[disabled] ~ .custom-control-label {
    color: #747d6c;
}

.custom-control-input[disabled] ~ .custom-control-label::before {
    background-color: #e9efea;
}*/

.custom-select:focus {
    border-color: $form-focus-border-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $form-focus-color;
}

/*.custom-select:disabled {
    color: #6c757d;
    background-color: #e9ecef;
}*/

/*button style*/
.btn-success {
    background-image: $success-button-background;
    border-color: $default-button-border-color;
    border-width: 1px 2px 2px 1px;
}

.btn-success:hover {
    background-image: $success-button-hover-background;
}

.btn-outline-success:hover{
    background-image:$success-button-hover-background;
}

.btn-danger {
    background-image: $danger-button-background;
    border-color: $default-button-border-color;
    border-width: 1px 2px 2px 1px;
}

.btn-danger:hover {
    background-image: $danger-button-hover-background;
}

/*table style*/
.selected-table-row {
    background-color: $selected-grid-row-color !important;

    tr {
        background-color: $selected-grid-row-color !important;
    }

    td {
        background-color: $selected-grid-row-color !important;
    }
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: $table-hover-color;
}

/*validation style*/
.valid.modified:not([type=checkbox]) {
    outline: 1px solid $valid-modified-color;
}

.invalid {
    outline: 1px solid $invalid-color;
}

.validation-message {
    color: $invalid-color;
}

#blazor-error-ui {
    background: $blazor-error-ui-color;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}