.sidebar .sidebar-content {
    width: 15rem;
    transition: width .25s ease-out;
    overflow-x: hidden;
}

.sidebar.hidden .sidebar-content {
    width: 15rem;
}

.sidebar .sidebar-button {
    display: none;
}

@media(max-width: 992px) {
    .sidebar.hidden .sidebar-content {
        width: 0!important;
    }

    .sidebar .sidebar-button {
        display: block;
    }
}
